html {
  margin:0;
  padding:0;
}

body{
  margin: 4px;
  padding: 0.5rem;
  background-color: #FF33FF;
}

.introduction {
  flex: justify;
  background-color: black;
}

.title {
  color: red;
  font-size: xx-large;
}

.center {
  text-align: center;
}

.sub-title{
  color: red;
  font-size: large;
}

.description{
  background-color: #FF00FF; 
  color: #FFCCFF; 
  margin: 1rem; 
}

.presentation{
  margin: 1rem;
  color: white;
  background-color: black; 
}


